.recipe-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.recipe-card {
  width: 280px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}

.image {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.pagination-button {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border: 1px solid aquamarine;
}
.pagination-page {
  background-color: aquamarine;
  border: none;
  padding: 10px;
}
